*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
    height:100vh;
    align-items: center;
   
  
}
#box-container{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 700px;
    background-color: #FBDD00;
}
.box1{
    position: absolute;
    width: 100%;
}
.up{
    top:100px;
    height: 300px;
}
.down{
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
}
.div1{
    width: 100%;
    display:inline-flex;
    background-color: #FF2852;
}
.div2{
    width: 100%;
    background-color: #FF2852;
    height: 75px;
}


.sub-container{
    width: 50%;
    height: 75px;
}
.left-sub-container{
    border-right:150px solid #FBDD00;
   border-bottom:75px solid #FF2852;
}
.right-sub-container{

    border-left:150px solid #FBDD00 ;
    border-bottom:75px solid #FF2852;
  
}
.text-drawing-smile{
    width: 100%;
    height: 140px;
}
.text-drawing-smile h1{
    color: white;
    text-align: center;
    line-height: 150px;
    font-size:55px;
}
.smaily-head{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#smiley-face{
    background-color: rgba(175, 155, 0, 1);
    width: 100%;
    height: 120px;
    max-width:120px;
    border-radius: 50%;
    position: absolute;
    transform: rotate(270deg);
}
.eyes::before,.eyes::after{
    content: "";
    position: absolute;
    top: 35%;
    width: 10px;
    height: 10px;
    background-color: rgba(123, 108, 0, 1);
    transition: 0.5s;
}
.eyes::before{
    left: 35%;
}
.eyes::after{
    right: 35%;
}

.mouth{
    position: absolute;
    width:80px;
    height:50px;
    bottom: 30%;
    left: 16%;
    border-top: 35px solid transparent;
    border-bottom: 10px solid rgba(123, 108, 0, 1);
    border-radius: 50%;
}