*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

#main-container{
    width: 100%;
    margin: auto;
    display: flex;
    height: 99vh;
    justify-content: center;
    align-items: center;
}
#box-container{
    display: block;
    position: relative;
    width: 1200px;
    height:700px;
    background-color: #FBDD00;
}
.internal-box-container{
    position: absolute;
    width: 100%;
}
.box-position-top{
    top:100px;
    height: 300px;
}
.box-position-bottom{
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
}
.div-inner-wrapper-one{
    width: 100%;
    display:inline-flex;
    background-color:transparent;
    border: transparent;
}
.div-inner-wrapper-two{
    width: 100%;
    border: none;
    background-color: #FF2852;
    height: 75px;
}


.sub-container{
    width: 50%;
    height: 75px;
}
.left-sub-container{
    border-right:150px solid #FBDD00;
   border-bottom:75px solid #FF2852;
}
.right-sub-container{

    border-left:150px solid #FBDD00 ;
    border-bottom:75px solid #FF2852;
  
}
.text-draw-smiley{
    width: 100%;
    height: 140px;
}
.text-draw-smiley h1{
    color: white;
    text-align: center;
    line-height: 150px;
    font-size:55px;
}
.smiley-head{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#smiley-face{
    background-color: rgba(175, 155, 0, 1);
    width: 100%;
    height: 120px;
    max-width:120px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transform: rotate(270deg);
    animation: Balldance;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    transition: width 0.5s;
    animation-delay: 1s;


}
.smiley-eyes::before,.smiley-eyes::after{
    content: "";
    position: absolute;
    top: 35%;
    width: 10px;
    height: 10px;
    background-color: rgba(123, 108, 0, 1);
}
.smiley-eyes::before{
    left: 35%;
}
.smiley-eyes::after{
    right: 35%;
}

.smiley-lips{
    position: absolute;
    width:80px;
    height:50px;
    bottom: 30%;
    left: 16%;
    border-top: 35px solid transparent;
    border-bottom: 10px solid rgba(123, 108, 0, 1);
    border-radius: 50%;
}
/* Now  i will add the css Animation to this one Project so here we go  */

@keyframes Balldance {
    
    0%{
        transform:rotate(-270deg);
        transform: translateX(0px);

    }
    25%{
    
        transform: translateX(270px);

    }
   
   
    100%{
        transform: translateY(240px);
    }

}
